
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    padding: 20px;
    background-color: rgb(53, 53, 53);
    
}

div, p{
    color: #A6A7A9;
    font-size: large;
}

h1,h2{
    color: #0096C7;
}

.Form{
    background-color: rgb(212, 210, 228);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px; 
}

label{
    font-size: large;
    
}

legend{
    font-size: larger;
    color: blue;
}

.Button{
    font-size: large;
    margin: 10px;
    padding: 8px;
}
